header {
    position: sticky;
    top: 0;
}

.navbar {
    position: relative;
    display: block;
    transition: background-color 2s ease-out;
}

.navbar .logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.navbar .logo > h1 {
    color: var( --text-color);
    background-color: var(--background-color);
    padding-inline: 2rem;
    padding-bottom: 2px;
    flex: 1;
}
.navbar nav {
    flex: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: var(--background-color-strong);
}
.navbar li {
    float: left;
    color: white;
    text-align: center;
    padding: 0 2rem;
    transition: background-color 400ms ease-in-out;
}
.navbar li a {
    display: block;
    color: var( --text-color);
    text-decoration: none;
    padding: 14px 16px;
}

.navbar li:hover:not(.active) {
    background-color: var(--background-color-hover);

}

.navbar .active {
    background-color: var(--background-color-accent);
    animation: fade-in-on-load 400ms ease-in-out ;
}

@keyframes fade-in-on-load {
    0% {
        background-color: var(--background-color);
    }
    100% {
        background-color: var(--background-color-accent);
    }
}

@media screen and (min-width: 55rem) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        /*gap: 4rem;*/

    }
}
@media screen and (min-width: 1300px) {
    .navbar {
        left: -8rem;
    }
}